:root {
    --white: #fff;
    --black: #000;
    --accent-primary: #1C6CD5;
    --accent-primary-dark: #094593;
    --accent-primary-light: #d7e8ff;
    --accent-secondary: #55ff02;
    --gradient-first: #f0f2f4;
    --gradient-second: #b5ff93;
    --neutral-dark: #222;
    --neutral-grey: #f2f3f4;
    --neutral-dim-light: #eff0f4;
    --neutral-grey-dark: #909abd;
    --neutral-grey-dim-dark: #bbc1d5;
    --neutral-grey-light: #f9f9fb;
}