.order-area {
    display: flex;
    flex-direction: row;
}

.order-form {
    background: linear-gradient(114deg, var(--gradient-first), var(--gradient-second));
    border-radius: 25px;
    padding: 56px;
    width: 30%;
}

.order-item {
    background: transparent;
}

.order-info {
    display: flex;
    justify-content: space-between;
}

.cards {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}