@import "../../../app/styles/variables.pcss";

.menu {
    display: flex;
    width: fit-content;
    list-style: none;
    align-items: center;
    padding: 0;

    &__item {
        color: var(--neutral-dark);
        border-bottom: 4px solid transparent;

        + .menu__item {
            margin-left: 2em;
        }
    }

    &__item:hover a {
        font-weight: 500;
    }
}