@import "../../../app/styles/variables.pcss";

.catCard {
    border-radius: 12px;
    padding: 1em;
    background: var(--neutral-grey);
    display: flex;
    flex-direction: column;
    max-width: 330px;
    height: 412px;

    p{
        background: var(--neutral-grey);
    }

    &__item{
        max-height: 220px;
    }
}